/*

COMPONENTS
Mainly bootstrap component overrides,
but also some custom
*/

/*
 * LOS LOGOS
 */
.testata-logo {
    &.small {
      max-width: 150px;
      max-height: 30px;
    }
}

/*
 * NAVBAR
 */
.navbar {
  margin-top:20px;
  .navbar-brand {
    width: 160px;
    padding: 10px 0px;
    > img {
      padding: 0px;
      float: left;
    }
  }
  border-radius: 0px;
  margin-bottom: 50px;
  &.navbar-transparent {
    background-color: transparent !important;
    border:0px;
    position:absolute;
    top:0px;
    z-index:100;

    // Patch the absolute width bug whereby floating doesn't work
    @media (max-width: @screen-md-min) {
      left:0px;
      right:0px;
      padding: 0px 20px;
    }

  }
}

.navbar-inverse .navbar-toggle {
  background-color: transparent !important;
  border:0px;
}

.navbar-header {
  float: left;
}

.accedi {
  float: right;
  position: relative;;
}

/*
 * NAVS
 */
.tabbar {
  background-color: #1A8ACC;
  .nav > li {
      & > a {
        .smallcaps;
        font-weight: 600;
        line-height: 36px;
        color: white;
        border-bottom: none;
      }
      &.active > a {
        color: @gray-dark;
      }
  }
  .nav-tabs {
    border-bottom-color: @brand-primary;
    & > li {
      &.active > a {
        &,
        &:hover,
        &:focus {
          border: 1px solid white;
        }
      }
      & > a {
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

// To centralise left floated tabs
.nav-container {
  width: 320px;
  margin: 0 auto;
}

.tab-content {
  padding-left: 20px;
  padding-right: 20px;
}

/*
 * MASTHEAD
 */
.mast {
  background-color:@brand-primary;
  position:relative;
  min-height: 300px;
  // default background to be overwritten per page I guess
  background-image: url("img/masthead_tmp.jpg");

  .msg {
    position:absolute;
    bottom:10px;
    color:white;

    h1 {
      padding:0px 0px 0px;
      margin-top: 50px;
      font-weight: 300;
    }
    p {
      padding:0px 0px 0px;
    }

  }

  @media (min-width: @screen-md-min) {
    min-height: 340px;
    .msg {
      bottom: 30px;
    }
  }


}



// BANNER
.banner {
}

/*
 * BUTTONS
 */
.btn {
   text-transform: uppercase;
   letter-spacing: 1.5px;

   img.testata-logo {
     max-height: 20px;
   }
}

.btn-outline {
    background-color:transparent;
    border: 1px solid white;
    color: white;
    &:hover {
      color: white;
    }
    &.dark {
      border: 1px solid @gray-dark;
      &:hover {
        background:@brand-primary;
        border: 1px solid @brand-primary;
        color:white;
      }
    }
}

.btn-default:hover {
  border-color: @gray-dark;
  background-color: transparent;
}

/*
 * FOOTER
 */

.footer {
  .breadcrumb {
    text-align: center;
  }
}

/*
 * BREADCRUMBS
 */
.breadcrumb {
  padding: 50px;
}

/*
 * PANELS
 */
 .panel-default > .panel-heading {
  border-bottom: 1px solid white;
  a {
    font-weight: 600;
  }
  .btn {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.panel-body {
  padding-top: 0px;
}

/*
 * ICONS
 */
span.glyphicon, .icon {
  margin-right: 10px;
  position: relative;
  top: 2px;
  display: inline-block;
}

// Clear applied icon margin when in right hand addon
.input-group-addon {
  .icon {
    margin-right: 0px;
  }
}

// I Adjusted the icon positioning, so I must compensate for other elements
.form-control-feedback {
  position: absolute;
  margin-right:0px;
  line-height: 55px;
}

/*
 * SEARCH
 */
.search {
  .icon, .input-group-addon {
    margin-right: 5px;
    padding-right: 0px;
  }
}

/*
 * TABLES
 */
.table {
  .icon {
    font-size: 18px;
    top: 4px;
  }
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

/*
 * MODALS
 */
 .modal {
    background-color: rgba(255,255,255,0.96);
    text-align: center;
  .modal-header {
    min-height: 50px;
  }
  .modal-content {
    box-shadow: none;
    background: none;
    h1,h2,h3 {
      text-align: center;
    }
  .modal-footer {
    text-align: center;
  }
  }
  .close {
    font-size: 42px;
    font-weight: 300;
    display: none;
    &.back {
      float: left;
    }
  }
}

/*
 * FORMS
 */

 select.form-control {
   height: 50px;
   color: #999;
 }

 /*
  * ACCEDI BUTTONS
  */

.accessi {
  a {
    text-decoration: none;
  }

  .alert {
    p {
      color:white !important;
    }
  }

  button.close {
    // Position
    top:7px;
    opacity: 1;
    color: white;
    text-shadow: none;

    // font
    .smallcaps {
      opacity:0.4;
      font-size:10px;
      margin-right:10px;
      vertical-align: middle;
    }

    // icon
    .icon {
      top:5px;
    }

    @media (min-width: @screen-sm-min) {
      top:10px;
    }
  }
}
