/*

COMPONENTS
*/

/*
 * NAVBAR
 */

// Limit height of brand image
.navbar {
  margin-top:20px;
  .navbar-brand > img {
    max-height: 25px;
    padding: 0px;
  }
}

/*
 * MASTHEAD
 */
.mast {
  background-color:@brand-primary;
  min-height:250px;
  position:relative;

  .msg {
    position:absolute;
    bottom:30px;
    color:white;

    h1 {
      padding:0px 0px 0px;
      margin-top: 50px;
      font-weight: 300;
    }
    p {
      padding:0px 0px 20px;
    }

    // TESTATE LOGO
    .testata_logo {
        max-width: 250px;
    }
  }
}

// BANNER
.banner {
}

/*
 * BUTTONS
 */
 .btn {
   text-transform: uppercase;
   font-size: 80%;
   letter-spacing: 1.5px;

 }

.btn-outline {
    background-color:transparent !important;
    border: 1px solid white;
}
