/*

QN Styles
For modal overlay

*/

// PALLETTE
@qn-primary:  #F26623; // ORANGE
@qn-secondary: #334D66; // COBALT

//
@qn-border-radius: 0;

.qn {
  input, .btn {
    border-radius: @qn-border-radius
  }

/*
 * MODALS
 */
 .modal {
    background-color: rgba(52,77,102,0.96);
  }
}
