/*

Site.less for
Inedicola

*/

.mobileview {
  width: 320px;
}

/*
 * MAIN
 * Body content after masthead area
 */
.main {
  padding: 20px 0px;
}

/*
 * TIPO (di cliente) PAGE
 * Hide labels in accordion forms
 */
.tipo .panel-group form {
  label {
    display:none;
  }
}
