/*

Site.less for
Inedicola

*/

.btn {
  transition: background-color 0.5s ease,
              border-color 0.5s ease;
}

.mobileview {
  width: 320px;
}

.borderless {
  border:none;
  box-shadow: none;
}

.nolabels {
  label {
    display:none;
  }
}

/*
 * MAIN
 * Body content after masthead area
 */
.main {
  padding-top: 20px;
}

.home  {
  h5, .well {
    text-align: center;
  }
}
/*
 * TIPO (di cliente) PAGE
 * Hide labels in accordion forms
 */
.tipo .panel-group form {
  label {
    display:none;
  }
}

.assistenza {
  .search {
    .input-group {
      margin: 20px 0px;
      input {
        border-left: none;
      }
    }
  }
}
