extends base

block main
  .mast
    .container
      .msg
        h1 Benvenuto, Derry
  
  .assistenza
    ul.nav.nav-tabs.nav-justified.hidden-desktop
      li.active(role='presentation')
        a(href='#') FAQ
      li(role='presentation')
        a(href='#') Assistenza
    
    .container
      .row
        .col-md-4
          h5 Abbonamenti
          .alert.alert-success.alert-dismissable
              p.lead 
                img.testata-logo.small(src="{{STATIC_URL}}/img/giorno-white.svg")
              p.small Scade fra dieci giorni
          .alert.alert-warning
              p.lead 
                img.testata-logo.small(src="{{STATIC_URL}}/img/giorno-white.svg")
              p.small Scade fra dieci giorni
              
        .col-md-4
          h5 Copie Singole
          .alert.alert-success.alert-dismissable
              p.lead 
                img.testata-logo.small(src="{{STATIC_URL}}/img/giorno-white.svg")
              p.small Scade fra dieci giorni
          
        .col-md-4
          h5 Dispositivi collegati
          p Irure ipsum Lorem nisi proident minim quis cupidatat exercitation.
          table.table.table-hover.table-responsive
                caption Connessi
                tbody
                  tr
                    td 
                      span.icon.icon-phone-mobile 
                      | iPad
                    td
                      span.pull-right.icon.icon-trash-bin                        
                  tr
                    td 
                      span.icon.icon-laptop
                      | Desktop
                    td
                      span.pull-right.icon.icon-trash-bin
                        
                        
