extends base

block main
  .mast
    .container
      .msg
        h1 Benvenuto, Derry
  
  .account 
    .tabbar(role='tabpanel')
      .container
         // Nav tabs
         .nav-container
           ul.nav.nav-tabs.hidden-desktop(role="tablist")
             li.active(role='presentation')
               a(href='#accessi', aria-controls='home', role='tab', data-toggle='tab') Accessi
             li(role='presentation')
               a(href='#ordini', aria-controls='profile', role='tab', data-toggle='tab') Ordini
             li(role='presentation')
               a(href='#profilo', aria-controls='messages', role='tab', data-toggle='tab') Profilo    


  .tab-content.container.main
    .accessi.tab-pane.active#accessi(role="tabpanel")
      .col-md-4
        h5 Abbonamenti
        a(href="#")
          .alert.alert-success.alert-dismissable
              button.close(type="button") 
                span.smallcaps Open
                span.icon.icon-log-out 
              p.lead 
                img.testata-logo.small(src="{{STATIC_URL}}/img/rdc-white.svg")
              p.small Scade fra dieci giorni
        a(href="#")
          .alert.alert-warning.alert-dismissable
              button.close(type="button")
                span.smallcaps In Attesa
                span.icon.icon-clock
              p.lead 
                img.testata-logo.small(src="{{STATIC_URL}}/img/rdc-white.svg")
              p.small Scade fra dieci giorni
        
      .col-md-4
        h5 Copie Singole
        a(href="#")
          .alert.alert-danger.alert-dismissable
              button.close(type="button")
                span.smallcaps Rinnova
                span.icon.icon-repeat-redo
              p.lead 
                img.testata-logo.small(src="{{STATIC_URL}}/img/rdc-white.svg")
              p.small Scade fra dieci giorni
        
      .col-md-4
        h5 Dispositivi collegati
        p Irure ipsum Lorem nisi proident minim quis cupidatat exercitation.
        table.table.table-hover.table-responsive
              caption Connessi
              tbody
                tr
                  td 
                    span.icon.icon-phone-mobile 
                    | iPad
                  td 
                    a.btn.btn-link.btn-sm.pull-right(type="button", data-toggle="modal", data-target=".remove-device") 
                      span.icon.icon-trash-bin
                tr
                  td 
                    span.icon.icon-laptop
                    | Desktop
                  td 
                    a.btn.btn-link.btn-sm.pull-right(type="button", data-toggle="modal", data-target=".remove-device") 
                      span.icon.icon-trash-bin

        h5 Istruzioni
        p Non enim aliqua consectetur pariatur quis qui Lorem nostrud velit ullamco nulla occaecat ea. Esse est commodo elit commodo proident amet occaecat tempor cupidatat proident quis.

                        
    .tab-pane.fade#ordini(role="tabpanel")
      .row
        .col-md-7
          h5 Lista Ordini
          table.table.table-hover
            thead
              tr
                th DATA
                th ITEM
                th 
            tbody
              tr
                td 17.05.2015
                td Abbonamento 3 mesi
                td 
                  a.btn.btn-link.btn-sm.pull-right(type="button", data-toggle="modal", data-target=".cancel-abbonamento") 
                    span.icon.icon-trash-bin
              tr
                td 17.05.2015
                td Abbonamento 3 mesi
                td 
                  a.btn.btn-link.btn-sm.pull-right(type="button", data-toggle="modal", data-target=".cancel-abbonamento") 
                    span.icon.icon-trash-bin
              tr
                td 17.05.2015
                td Abbonamento 3 mesi
                td 
                  a.btn.btn-link.btn-sm.pull-right(type="button", data-toggle="modal", data-target=".cancel-abbonamento") 
                    span.icon.icon-trash-bin
              tr
                td 17.05.2015
                td Abbonamento 3 mesi
                td 
                  a.btn.btn-link.btn-sm.pull-right(type="button", data-toggle="modal", data-target=".cancel-abbonamento") 
                    span.icon.icon-trash-bin

          
        .col-md-4.col-md-offset-1
          h5 Dispositivi collegati
          p Irure ipsum Lorem nisi proident minim quis cupidatat exercitation.
          table.table.table-hover.table-responsive
                caption Connessi
                tbody
                  tr
                    td 
                      span.icon.icon-phone-mobile 
                      | iPad
                    td 
                      a.btn.btn-link.btn-sm.pull-right(type="button", data-toggle="modal", data-target=".remove-device") 
                        span.icon.icon-trash-bin
                  tr
                    td 
                      span.icon.icon-laptop
                      | Desktop
                    td 
                      a.btn.btn-link.btn-sm.pull-right(type="button", data-toggle="modal", data-target=".remove-device") 
                        span.icon.icon-trash-bin

          h5 Istruzioni
          p Non enim aliqua consectetur pariatur quis qui Lorem nostrud velit ullamco nulla occaecat ea. Esse est commodo elit commodo proident amet occaecat tempor cupidatat proident quis.

      

    .tab-pane.fade#profilo(role="tabpanel")
      form
        .row
          .col-md-4
            h5 Dati Personali
            .form-group
              label.sr-only(for='') Nome
              input#id.form-control(type='text', placeholder='Nome')
            .form-group
              label.sr-only(for='') Cognome
              input#id.form-control(type='text', placeholder='Cognome')                               
            .form-group
              label.sr-only(for='') Codice Fiscale
              input#id.form-control(type='text', placeholder='Codice Fiscale')
            .form-group
              label.sr-only(for='') Indirizzo
              input#id.form-control(type='text', placeholder='Indirizzo')
            .form-group
              label.sr-only(for='') CAP
              input#id.form-control(type='text', placeholder='CAP')
            .form-group
              label.sr-only(for='') Città
              input#id.form-control(type='text', placeholder='Città')
            .form-group
              label.sr-only(for='') Provincia
              select.form-control
                option Provincia
                option Arezzo

          .col-md-4
            h5 Dati Fiscale
            .form-group
               label.sr-only(for='') Codice Fiscale
               input#id.form-control(type='text', placeholder='Codice Fiscale')
            .form-group
               label.sr-only(for='') Ragione Sociale
               input#id.form-control(type='text', placeholder='Ragione Sociale') 
            .form-group
               label.sr-only(for='') Partita IVA
               input#id.form-control(type='text', placeholder='Partita IVA')
            
          .col-md-4
            h5 &nbsp;
            button.btn.btn-primary.btn-block(type="submit") Salva

            h5 Istruzioni
            p Non enim aliqua consectetur pariatur quis qui Lorem nostrud velit ullamco nulla occaecat ea. Esse est commodo elit commodo proident amet occaecat tempor cupidatat proident quis.
            
            h5 Dispositivi collegati
            p Irure ipsum Lorem nisi proident minim quis cupidatat exercitation.
            table.table.table-hover.table-responsive
                  caption Connessi
                  tbody
                    tr
                      td 
                        span.icon.icon-phone-mobile 
                        | iPad
                      td 
                        a.btn.btn-link.btn-sm.pull-right(type="button", data-toggle="modal", data-target=".remove-device") 
                          span.icon.icon-trash-bin
                    tr
                      td 
                        span.icon.icon-laptop
                        | Desktop
                      td 
                        a.btn.btn-link.btn-sm.pull-right(type="button", data-toggle="modal", data-target=".remove-device") 
                          span.icon.icon-trash-bin


  .cancel-abbonamento.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title &nbsp;
          .modal-body
            h2 Sei sicuro di voler cancellare il tuo abbonamento?
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Annulla
            button.btn.btn-danger(type='button') Cancella

  .remove-device.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title &nbsp;
          .modal-body
            h2 Sei sicuro di voler rimuovere questo dispositivo?
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Annulla
            button.btn.btn-danger(type='button') Rimuovi
