extends base

block main
  .mast
    .container
      .msg
        h1 FAQ & Assistenza
  
  .assistenza
    .tabbar(role='tabpanel')
      .container
         // Nav tabs
         ul.nav.nav-tabs.hidden-desktop(role="tablist")
           li.active(role='presentation')
             a(href='#faq', aria-controls='faq', role='tab', data-toggle='tab') FAQ
           li(role='presentation')
             a(href='#assistenza', aria-controls='assistenza', role='tab', data-toggle='tab') Assistenza


  .tab-content.container.main
    .tab-pane#assistenza(role="tabpanel")  
      .row
        .col-md-7
          h3 Richiesta Informazioni
          p Ea cillum ad tempor nisi eu minim et sint culpa minim laborum enim commodo.
          form
            .form-group
              label.sr-only(for='')Nome
              input#id.form-control(type='text', placeholder='Nome')
            .form-group
              label.sr-only(for='')Cognome
              input#id.form-control(type='text', placeholder='Cognome')                               
            .form-group
              label.sr-only(for='')Email
              input#id.form-control(type='email', placeholder='Email')
            .form-group
              label.sr-only(for='')Messagio
              textarea#id.form-control(rows="5", placeholder='Richiesta Informazioni')
            .form-group
              button.btn.btn-primary.form-control(type='submit') Invia Richiesta

        .col-md-4.col-md-offset-1
          h3 Problemi di utilizzo
          p Ea cillum ad tempor nisi eu minim et sint culpa minim laborum enim commodo.
          
          form
            .form-group
              label.sr-only(for='')Username
              input#id.form-control(type='text', placeholder='Username')
            .form-group
              label.sr-only(for='')Email
              input#id.form-control(type='email', placeholder='Email')
            .form-group
              label.sr-only(for='')Browser
              select.form-control
                option Browser Utilizzato
            .form-group
              label.sr-only(for='')Messagio
              textarea#id.form-control(rows="5", placeholder='Richiesta Informazioni')
            .form-group
              button.btn.btn-primary.form-control(type='submit') Invia Richiesta
    
    .tab-pane.active#faq(role="tabpanel")  
      .row
        .col-md-12
          form.search
            .form-group
              .input-group
                .input-group-addon  
                  span.icon.icon-search-find
                input.form-control(type="text", placeholder="Cerca FAQ") 

              #accordion.panel-group(role='tablist', aria-multiselectable='true')
                  .panel.panel-default
                      #id.panel-heading(role='tab')
                        h4.panel-title
                          a.btn-link(data-toggle='collapse', data-parent='#accordion', href='#FAQCosa', aria-expanded='true', aria-controls='collapseOne')
                            span.icon.icon-chevron-right(aria-hidden='true')
                            | Cosa occorre per consultare il quotidiano?
                      #FAQCosa.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                        .panel-body
                          | Per consultare il tuo quotidiano non occorre alcun software aggiuntivo.
                          | Basta collegarsi ad internet e accedere al proprio browser di navigazione.

                          | Per una corretta fruizione del servizio inEdicola! i browser internet supportati sono:

                          | Internet Explorer v.6 o superiore
                          | Firefox v.3.6 o superiore
                          | Chrome tutte le versioni
                          | Safari v.5 o superiore
                          | Opera v.10 o superiore 

                          | Se usi un browser non presente in questo elenco o non aggiornato potresti incorrere in alcuni problemi di visualizzazione.
                          | Ti consigliamo di utilizzare sempre la versione più aggiornata del tuo browser preferito.

                  .panel.panel-default
                      #id.panel-heading(role='tab')
                        h4.panel-title
                          a(data-toggle='collapse', data-parent='#accordion', href='#FAQOra', aria-expanded='true', aria-controls='collapseOne')
                            span.icon.icon-chevron-right(aria-hidden='true')
                            | A che ora è disponibile solitamente il quotidiano digitale?
                      #FAQOra.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                        .panel-body
                          | Il quotidiano digitale viene pubblicato dalle ore 6 del mattino.
          

                  .panel.panel-default
                      #id.panel-heading(role='tab')
                        h4.panel-title
                          a(data-toggle='collapse', data-parent='#accordion', href='#FAQGiorni', aria-expanded='true', aria-controls='collapseOne')
                            span.icon.icon-chevron-right(aria-hidden='true')
                            | In quali giorni non viene pubblicato il quotidiano?
                      #FAQGiorni.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                        .panel-body
                          | Il quotidiano non viene pubblicato online negli stessi giorni in cui non lo trovate in edicola, ovvero:

                          ul 
                            li 1 gennaio
                            li Lunedì di Pasqua
                            li 2 maggio
                            li 16 agosto
                            li 25 e 26 dicembre
          
                  .panel.panel-default
                      #id.panel-heading(role='tab')
                        h4.panel-title
                          a(data-toggle='collapse', data-parent='#accordion', href='#FAQPrecedenti', aria-expanded='true', aria-controls='collapseOne')
                            span.icon.icon-chevron-right(aria-hidden='true')
                            | E' possibile sfogliare edizioni precedenti a quella odierna?
                      #FAQPrecedenti.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                        .panel-body
                          | Sì, il servizio inEdicola permette sempre di consultare il quotidiano entro 15 giorni precedenti all'edizione del giorno.            

                  .panel.panel-default
                      #id.panel-heading(role='tab')
                        h4.panel-title
                          a(data-toggle='collapse', data-parent='#accordion', href='#FAQStampa', aria-expanded='true', aria-controls='collapseOne')
                            span.icon.icon-chevron-right(aria-hidden='true')
                            | Posso stampare un singolo articolo in versione testuale?
                      #FAQStampa.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                        .panel-body
                          | Sì. Basterà aprire l'articolo e cliccare sull'icona di “stampa”.
                          | Non solo, è inoltre possibile inviare l'articolo direttamente via mail, oppure condividerlo sui principali social network.
