!!! 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')          
    
    block title
      title Inedicola

    block styles
      link(rel='stylesheet', href='static/styles.css')

  body
    block navbar
        // Static navbar
        .navbar.navbar-inverse(role='navigation')
          .container-fluid
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Inedicola
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='./') Regìstrati                  
                li.active
                  a(href='./') Login
            // /.nav-collapse
          // /.container-fluid
      
    
    block main
      h1.title Index (default)
      #container
        if name
          p Hello #{name}
        else
          p Hello World

    block footer
        .footer
          h5 Here is the footer
