doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')          
    
    block title
      title Inedicola

    block styles
      link(rel='stylesheet/less', href='static/styles.less')

    block scripts
      script(src='static/js/less.min.js', type='text/javascript')

  body
    
    .container-fluid
      
      block navbar
          // Static navbar
          .navbar.navbar-inverse.navbar-trans
            parent(role='navigation')
              .navbar-header
                a.navbar-brand(href='#')
                  img(src="{{STATIC_URL}}/img/logo.svg")
                ul.nav.navbar-nav.navbar-right
                  li.active.pull-right
                    a(href='./') Accedi
      
      block main
        h1.title Index (default)
        #container
          if name
            p Hello #{name}
          else
            p Hello World

      block footer
          .footer
            ol.breadcrumb
              li
                a Assistenza & Faq
              li
                a Aziende
              li
                a Guida
