extends base

block main
  .mast
    .container
      .msg
        h1 Cartaceo

  .cartaceo.main
    .container
      .row
        .col-md-7
          h3 Vuoi ancora la versione stampata?
          p inEdicola! è la versione e-paper dei quotidiani La Nazione, Il Resto del Carlino e Il Giorno.
