extends base

block main
  .mast
    .msg
      h1 Hello There
      p Here is the grammatical subtext
  
  .testate
    p Welcome to Inedicola choose your poison
    .row.form-group 
      .col-xs-12
        button.btn.btn-lg.btn-primary.form-control Il Resto del Carlino
      .col-xs-12
        button.btn.btn-lg.btn-primary.form-control Il Giorno
      .col-xs-12
        button.btn.btn-lg.btn-primary.form-control La Nazione
