extends base

block main
  .mast
    .container
      .msg
        h1 Guida
  
  .guida.main
    .container
      .row
        .col-md-6
          h3 Cos'è inEdicola?
          p inEdicola! è la versione e-paper dei quotidiani La Nazione, Il Resto del Carlino e Il Giorno.
          p Solo inEdicola! ti dà la possibilità di consultare fin dalle prime ore del mattino il tuo quotidiano in versione digitale esattamente uguale alla copia in edicola.
          p Il tuo quotidiano come l'hai sempre desiderato. 
          p Facile: grazie ad una navigazione che riprende la struttura logica del quotidiano cartaceo. 
          p Interattivo: grazie ad un sofisticato motore di ricerca interno. 
          p Completo: grazie alla rapida consultazione di un archivio di 15 giorni antecedenti alla data di consultazione.

        .col-md-6
          h3 Come acquistare
          p Scegliendo la versione digitale del tuo quotidiano avrai modo di scegliere la tipologia di abbonamento più adatta alle tue esigenze e la testata (edizione locale) di tuo interesse.  
          p L'importo dell'abbonamento sarà sempre in evidenza durante ogni tua scelta. Compilare i dati di registrazione e/o fatturazione per completare la registrazione. Una e-mail ti riepilogherà i dati di accesso (nome utente, password) per accedere ai servizi inEdicola!

          p E' possibile abbonarsi pagando con:
          dl            
            dt Bonifico bancario intestato a
              dd Monrif Net srl Ca.Ris.Bo. Filiale 4572
              dd 
              | Bologna via Rizzoli
              | ABI 06385
              | CAB 02452
              | Numero di conto 615257142020
              | CIN U
              | IBAN IT58 U063 8502 4526 1525 7142 020 

            dt Carta di credito (Visa, MasterCard, Diners) 

            dt Conto Corrente postale intestato a
            dd 
              | Monrif Net srl Bancoposta
              | ABI 07601 CAB 02400 CIN "O"
              | C/C 000074506502
