extends base

block main
  .mast
    .container 
      .msg
        h1 Hello There
        p Here is the grammatical subtext

  .container
    .testate
      h5 Welcome to Inedicola choose your poison
      .form-group 
          a.btn.btn-lg.btn-primary.btn-block(href="/options") Il Resto del Carlino
      .form-group 
        button.btn.btn-lg.btn-primary.btn-block Il Giorno
      .form-group 
        button.btn.btn-lg.btn-primary.btn-block La Nazione

    .bannerAd
      h5 Codice promo
      .well
        | Click here for your codice promo

    .bannerAd
      h5 Cartaceo
      .well
        | Banner ad for cartaceo
