extends base

block main
  .mast
    .msg
      h1 Hello There
      p Here is the grammatical subtext
  
  .testate
    h5 Welcome to Inedicola choose your poison
    .form-group 
        a.btn.btn-lg.btn-primary.form-control(href="options") Il Resto del Carlino
    .form-group 
      button.btn.btn-lg.btn-primary.form-control Il Giorno
    .form-group 
      button.btn.btn-lg.btn-primary.form-control La Nazione

  .bannerAd
    h5 Codice promo
    .well
      | Click here for your codice promo

  .bannerAd
    h5 Cartaceo
    .well
      | Banner ad for cartaceo
