extends base

block main
  .mast
    .container 
      .msg
        h1 Le notizie per te, a modo tuo
        p.quiet Sit proident do eu consectetur minim magna aliquip esse.

  .container.home
    .testate
      h5 Benvenuto in InEdicola, scegli il tuo giornale preferito
      .row
        .col-md-4
          .form-group 
              a.btn.btn-lg.btn-primary.btn-block(href="/options")
                img.testata-logo(src="{{STATIC_URL}}/img/rdc-white.svg")

        .col-md-4
          .form-group 
            a.btn.btn-lg.btn-primary.btn-block(href="/options")
                img.testata-logo(src="{{STATIC_URL}}/img/nazione-white.svg")

        .col-md-4
          .form-group 
            a.btn.btn-lg.btn-primary.btn-block(href="/options")
                img.testata-logo(src="{{STATIC_URL}}/img/giorno-white.svg")

    .row
      .col-md-6
        .bannerAd
          h5 Codice promo
          a.btn.btn-outline.dark.btn-block(href="/codicepromo") Codice Promo

      .col-md-6
        .bannerAd
          h5 Cartaceo
          a.btn.btn-outline.dark.btn-block(href="/cartaceo") Cartaceo
