extends base

block main
  .mast
    .container
      .row
        .msg.col-md-4.col-xs-12.col-sm-5
          img.testata-logo(src="{{STATIC_URL}}/img/rdc-white.svg", onerror="this.src='{{STATIC_URL}}/img/rdc-white.png'")
          h4 Abbonamento Semestrale
          p.quiet &euro;34.99 
            span.quiet.strike &euro;44.99 
          a.btn.btn-primary.btn-outline.btn-block.quiet(href="options") Modifica
  
  .testate
    .container
      
      .row
        .col-md-3.hidden-mobile
          h5 Istruzioni
          p Nostrud aliqua sint sit anim tempor anim deserunt cupidatat do in consectetur sint. 
          .well
            | Hai un codice sconto? Lo potrai inserire prima di pagare per ottenere il tuo prezzo speciale          
        
        .col-md-4.col-md-offset-1
          h5.msg Se sei un utente registrato con QN, clicca su Login per accedere.
          .form-group
            a.btn.btn-primary.btn-block(href="cart") Login

        .col-md-4
          h5.msg  Se non sei registrato ancora crea il tuo account e clicca su Registrati
          .form-group
            a.btn.btn-primary.btn-block(data-toggle="modal", data-target=".qn-account-register") Registrati
            
