extends base

block main
  .mast
    .msg
      h1 Logo Il Giorno
  
  .testate
    h5 Copia Singola
    .form-group 
        a.btn.btn-lg.btn-primary.form-control(href="options") Un Giorno
    .form-group 
      button.btn.btn-lg.btn-primary.form-control Il Giorno
    .form-group 
      button.btn.btn-lg.btn-primary.form-control La Nazione

    h5 Abbonamenti con rinnovo automatico
    .form-group 
        a.btn.btn-lg.btn-primary.form-control(href="options") 1 settimana
    .form-group 
        a.btn.btn-lg.btn-primary.form-control(href="options") 1 mese
    .form-group 
        a.btn.btn-lg.btn-primary.form-control(href="options") 6 mesi
    .form-group 
        a.btn.btn-lg.btn-primary.form-control(href="options") 12 mesi

    h5
      | Hai un codice sconto? Lo potrai inserire prima di pagare per ottenere il tuo prezzo speciale
