extends base

block main
  .mast
    .container
      .msg.col-md-4
        img.testata-logo(src="{{STATIC_URL}}/img/rdc-white.svg", onerror="this.src='{{STATIC_URL}}/img/rdc-white.png'")
          
  
  .testate
    .container      
      .row
        .col-md-3.hidden-mobile
          h5 Istruzioni
          p Nostrud aliqua sint sit anim tempor anim deserunt cupidatat do in consectetur sint. 
        
        .col-md-4.col-md-offset-1
            h5 Copia Singola
            .form-group
              a.btn.btn-primary.btn-block(href="/") Un Giorno &euro;0.99
        
        .col-md-4
            h5 Abbonamenti con rinnovo automatico
            .form-group
                a.btn.btn-primary.btn-block(href="login") 1 settimana &euro;0.99
            .form-group 
                a.btn.btn-primary.btn-block(href="login") 1 mese &euro;44.99
            .form-group 
                a.btn.btn-primary.btn-block(href="login") 6 mesi &euro;68.99
            .form-group 
                a.btn-block.btn.btn-primary(href="login") 12 mesi &euro;129.99

            h5
              | Hai un codice sconto? Lo potrai inserire prima di pagare per ottenere il tuo prezzo speciale
              
